<div class="container-md m-3">
  <form class="max-w-sm mx-auto pt-6" [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
        placeholder="Enter Your Name"
        required
      />
      @if(!nameValid) {
      <div class="text-sm text-red-600">
        Name should be at least 3 characters!
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input
        type="number"
        formControlName="age"
        id="age"
        class="form-control"
        required
      />
      @if(!ageValid) {
      <div class="text-sm text-red-600">Age should be between 20 and 40!</div>

      }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        class="form-control"
        placeholder="****@example.com"
        required
      />
      @if(!emailValid) {

      <div class="text-sm text-red-600">Email is not valid!</div>
      }
    </div>

    <button
      type="submit"
      [disabled]="!form.valid"
      class="btn btn-primary w-100"
      disabled
      (click)="add()"
    >
      Save
    </button>
  </form>
</div>
