<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Your Brand</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="bg-gray-900 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/students"
            routerLinkActive="bg-gray-900 text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Students</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/student/5"
            routerLinkActive="bg-gray-900 text-white"
            >Student Details</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/profile"
            routerLinkActive="bg-gray-900 text-white"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/error"
            routerLinkActive="bg-gray-900 text-white"
            >Error</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
